@import './variables.css';
@import './themes/light.css';
@import './themes/dark.css';
@import './fonts/fonts.css';
@import './normalize.css';

body {
	color: var(--text-primary);
	font-family: var(--font-family-base);
	background-color: var(--background-globe);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

button {
	font-size: 1rem;
	font-weight: 300;
}

a {
	color: inherit;
	&[class] {
		text-decoration: none;
	}
}

h1 {
	font-size: 4.188rem;
	font-weight: 200;
	color: var(--text-primary);
}

h2 {
	font-size: 3.125rem;
	font-weight: 600;
	color: var(--text-primary);
}

h3 {
	font-size: 2.313rem;
	font-weight: 600;
	color: var(--text-primary);
}

h4 {
	font-size: 1.75rem;
	font-weight: 600;
	color: var(--text-primary);
}

h5 {
	font-size: 1.313rem;
	font-weight: 600;
	color: var(--text-primary);
}

p {
	font-size: 1rem;
	font-weight: 300;
	color: var(--text-primary);
}

/* Не используется */
h6 {
	font-size: 10rem;
	font-weight: 900;
	color: brown;
}
