.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px 30px;
	border-radius: var(--border-radius);
	border: 1px solid transparent;
	cursor: pointer;
	transition: var(--transition-duration);
	background: transparent;
}

.button:has(.button__icon) {
	padding: 10px 16px;
}

.button__content {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.button__icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button__spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	border: 3px solid var(--background-globe);
	border-top-color: var(--text-primary);
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
}

.primary {
	color: var(--text-primary);
	border: 1px solid var(--stroke);
}

.primary:hover:not(:disabled):not(.button--loading) {
	border-color: var(--background-accent);
}

.primary:active:not(:disabled):not(.button--loading) {
	border-color: var(--text-primary);
	background-color: var(--background-accent);
}

.primary:disabled {
	color: var(--text-tertiary);
	border-color: var(--text-tertiary);
	cursor: not-allowed;
}

.secondary {
	color: var(--background-accent);
	border: 1px solid var(--background-accent);
}

.secondary:hover:not(:disabled):not(.button--loading) {
	background-color: var(--background-island-inner);
	border-color: var(--background-island-inner);
}

.secondary:active:not(:disabled):not(.button--loading) {
	color: var(--text-primary);
	background-color: var(--background-accent);
	border-color: var(--background-accent);
}

.secondary:disabled {
	color: var(--text-tertiary);
	border-color: var(--text-tertiary);
	cursor: not-allowed;
}

@keyframes spin {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
