.switch-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switch-label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--text-primary);
  user-select: none;
  position: relative;
}

.switch-track {
  width: 40px;
  height: 20px;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 2px solid var(--text-tertiary);
  transition: border-color 0.2s ease;
  position: relative;
  cursor: pointer;
}

.switch-thumb {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--background-globe-inv);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  z-index: 1;
}

.switch-label:hover .switch-track {
  border-color: var(--background-accent);
}

.switch-input:checked+.switch-label .switch-track {
  border-color: var(--background-accent);
}

.switch-input:checked+.switch-label .switch-thumb {
  transform: translateX(20px) translateY(-50%);
}

.switch-input:disabled+.switch-label {
  cursor: not-allowed;
  color: var(--text-tertiary);
}

.switch-input:disabled+.switch-label .switch-track {
  border-color: var(--text-tertiary);
  cursor: not-allowed;
}

.switch-input:disabled+.switch-label .switch-thumb {
  background-color: var(--text-tertiary);
  cursor: not-allowed;
}