:root[data-theme='dark'] {
	--background-globe: #0a0a0a;
	--background-island: rgba(217, 217, 217, 0.05);
	--background-globe-inv: #ffffff;
	--background-island-inv: rgba(255, 255, 255, 0.05);

	--text-primary: #ffffff;
	--text-secondary: rgba(255, 255, 255, 0.8);
	--text-tertiary: rgba(255, 255, 255, 0.5);
	--text-primary-inv: rgba(10, 10, 10, 0.9);
	--text-secondary-inv: rgba(10, 10, 10, 0.7);
	--text-tertiary-inv: rgba(10, 10, 10, 0.4);

	--stroke: #525252;
	--stroke-inv: #a7a7a7;
}